form(name="addTournament", ng-submit="submitTournament(addTournament)")
	.form-group.col-md-6.col-xs-6
		.col-md-6.col-xs-6
			label(for="tournament_type") Tipo de torneo
		.col-md-6.col-xs-6
			select(ng-model='tournament.tournament_type', name='tournament_type', id="tournament_type").form-control
				option(value="1", selected="selected") Liga
				option(value="2") Liga y Playoff 
				option(value="3") Liga y Liguilla
	.form-group.col-md-6.col-xs-6
		.col-md-6.col-xs-6
			label(for="type_of_zone_name") Nombre de zona
		.col-md-6.col-xs-6
			select(ng-model='tournament.type_of_zone_name', name='type_of_zone_name', id="type_of_zone_name").form-control
				option(value="1", selected="selected") Letras
				option(value="2") Numeros
	.form-group.col-md-12.col-xs-12
		label(for="name") Nombre
		input(ng-model='tournament.name', name='name', id="name", type='text').form-control.input-sm
		div(ng-show="addTournament['name'].$error.mongoose", style="color: red") {{addTournament.name.$error.mongoose}}
	.form-group.col-md-6.col-xs-6
		.col-md-8.col-xs-8
			label(for="double_playoff_match") Partido de Ida y Vuelta en Playoff
		.col-md-4.col-xs-4
			input(ng-model='tournament.double_playoff_match', name='double_playoff_match', id="double_playoff_match", type='checkbox').form-control.input-sm
		div(ng-show="addTournament['double_playoff_match'].$error.mongoose", style="color: red") {{addTournament.double_playoff_match.$error.mongoose}}
	.form-group.col-md-6.col-xs-6
		.col-md-8.col-xs-8
			label(for="double_league_match") Partido de Ida y Vuelta en Liga
		.col-md-4.col-xs-4
			input(ng-model='tournament.double_league_match', name='double_league_match', id="double_league_match", type='checkbox').form-control.input-sm
		div(ng-show="addTournament['double_league_match'].$error.mongoose", style="color: red") {{addTournament.double_league_match.$error.mongoose}}
	.form-group.col-md-6.col-xs-6
		.col-md-8.col-xs-8
			label(for="suspension_increment") Suspensión incremental
		.col-md-4.col-xs-4
			input(ng-model='tournament.suspension_increment', name='suspension_increment', id="suspension_increment", type='checkbox').form-control.input-sm
		div(ng-show="addTournament['suspension_increment'].$error.mongoose", style="color: red") {{addTournament.suspension_increment.$error.mongoose}}
	.form-group.col-md-6.col-xs-6
		label(for="number_of_teams") Cantidad de equipos
		input(ng-model='tournament.number_of_teams', name='number_of_teams', id="number_of_teams", type="number", min="0", max="50").form-control.input-sm
		div(ng-show="addTournament['number_of_teams'].$error.mongoose", style="color: red") {{addTournament.number_of_teams.$error.mongoose}}
	.form-group.col-md-6.col-xs-6
		label(for="cant_teams_for_next_round") Cantidad de equipos en la ronda siguiente
		input(ng-model='tournament.cant_teams_for_next_round', name='cant_teams_for_next_round', id="cant_teams_for_next_round", type="number", min="0", max="50").form-control.input-sm
		div(ng-show="addTournament['cant_teams_for_next_round'].$error.mongoose", style="color: red") {{addTournament.cant_teams_for_next_round.$error.mongoose}}
	.form-group.col-md-4.col-xs-4
		label(for="number_of_zones") Cantidad de zonas
		input(ng-model='tournament.number_of_zones', name='number_of_zones', id="number_of_zones", type="number", min="1", max="10").form-control.input-sm
		div(ng-show="addTournament['number_of_zones'].$error.mongoose", style="color: red") {{addTournament.number_of_zones.$error.mongoose}}
	.form-group.col-md-4.col-xs-4
		label(for="winner_points") Puntos por partido ganado
		input(ng-model='tournament.winner_points', name='winner_points', id="winner_points", type="number", min="1", max="10").form-control.input-sm
		div(ng-show="addTournament['winner_points'].$error.mongoose", style="color: red") {{addTournament.winner_points.$error.mongoose}}
	.form-group.col-md-4.col-xs-4
		label(for="tied_points") Puntos por partido empatado
		input(ng-model='tournament.tied_points', name='tied_points', id="tied_points", , type="number", min="0", max="10").form-control.input-sm
		div(ng-show="addTournament['tied_points'].$error.mongoose", style="color: red") {{addTournament.tied_points.$error.mongoose}}
	.form-group.col-md-4.col-xs-4
		label(for="presentation_points") Puntos por partido disputado
		input(ng-model='tournament.presentation_points', name='presentation_points', id="presentation_points", type="number", min="0", max="10").form-control.input-sm
		div(ng-show="addTournament['presentation_points'].$error.mongoose", style="color: red") {{addTournament.presentation_points.$error.mongoose}}
	.form-group.col-md-4.col-xs-4
		label(for="yellow_card_limit") Limite de amarillas
		input(ng-model='tournament.yellow_card_limit', name='yellow_card_limit', id="yellow_card_limit",type="number", min="2", max="10").form-control.input-sm
		div(ng-show="addTournament['yellow_card_limit'].$error.mongoose", style="color: red") {{addTournament.yellow_card_limit.$error.mongoose}}
	.form-group.col-md-12.col-xs-12
		input(type="submit", value="Guardar").btn.btn-primary