h3 Lista de Torneos
a(href="/tournaments/add") Nuevo Torneo
table.table.table-condensed.table-hover.table-responsive.table-striped
	tr(ng-repeat="tournament in tournaments") 
		td
			include partial_view