.dropdown()
	button(type="button", data-toggle="dropdown", id="feed_button").btn.btn-default.dropdown-toggle.news_intranet Noticias
		span.caret

	ul(role="menu").dropdown-menu.dropdown-menu-right.feed_container