extends layout

block body
	nav(id="navbar-example", class="navbar navbar-default navbar-fixed-top")
		div(class="container")
			div(class="navbar-header")
				div(class="collapse navbar-collapse bs-example-js-navbar-collapse")
					ul(class="nav navbar-nav")
						li(class="dropdown")
							a(id="drop1", href="#", class="dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", role="button", aria-expanded="false")
								span Torneos
								span(class="caret")
							ul(class="dropdown-menu" role="menu" aria-labelledby="drop1")
								li(ng-repeat="tournament in menu.tournaments" role="presentation" class="dropdown-submenu")
									a(role="menuitem" tabindex="-1" href="/tournaments/{{tournament._id}}") {{tournament.name}}
									ul(class="dropdown-menu")
										li(ng-repeat="zone in tournament.zones" role="presentation")
											a(role="menuitem" tabindex="-1" href="/zones/{{zone._id}}") {{zone.name}}
						li
							a(id="chroniclesButton", href="/chronicles")
								span Noticias
						li
							a(id="myLeague", href="/leagues/{{league._id}}")
								span La Liga
						li(class="dropdown", ng-if="account()")
							a(id="dropAdmin", href="#", class="dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", role="button", aria-expanded="false")
								span Administracion
								span(class="caret")
							ul(class="dropdown-menu" role="menu" aria-labelledby="dropAdmin")
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/teams") Equipos
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/tournaments") Torneos
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/chronicles") Crónicas
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/turns") Turnos
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/fields") Canchas
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/suspensions") Suspensiones
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/referees") Arbitros
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/news") Novedades
								li(role="presentation")
									a(role="menuitem" tabindex="-1" href="/advertisings") Publicidades
					ul(class="nav navbar-nav navbar-right")
						li(ng-if="!account()")
							a(id="chroniclesButton", href="/login")
								span Entrar
	div(class="modal", tabindex="-1", role="dialog", id="openIndexMatchday", aria-hidden="true" )
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true")&times;
					h4(class="modal-title", id="myModalLabel") Fecha
				div(class="modal-body")
					include partials/matches/list.jade
	div(class="page_header col-md-6")
		div(class="col-md-3")
			img(ng-if="league.logo_image", class="media-object" src="/photos/league/{{league._id}}/{{league.logo_image.filename}}" alt="Copa" style="max-width:100px;max-height:100px;")
			img(ng-if="!league.logo_image", class="media-object" src="/img/agolear.png" alt="Agolear.com" style="max-width:100px;max-height:100px;")
		div(class="col-md-9") 
			h3 {{league.name}} 
			p {{league.slogan}} 
	div(class="col-md-6 col-xs-10 page_header" , class="pull-right")
		div(ng-controller="HeaderAdvertisingsController", id="header_advertisings")
			include partials/advertisings/header.jade
	div(class="col-md-3")
		span Próximas fechas
		ul(class="list-group")
			li( ng-repeat="matchday in nextMatchdays" , class="list-group-item")
				div {{matchday.tournament.name}} 
				a(data-target="#openIndexMatchday",data-toggle="modal", ng-click="openMatchday(matchday.matchdays)") Zona: {{matchday.name}} Fecha: {{matchday.matchdays.matchday_number}} - {{matchday.matchdays.dispute_day | date:'yyyy-MM-dd'}}
		div(ng-show="tournament_stats.id", ng-controller="ScorersAndOthersController")
			ul(class="nav nav-tabs")
				li(role="presentation", class="active")
					a(data-target="#top_scorers", aria-controls="top_scorers", role="tab", data-toggle="tab") Goleadores
				li(role="presentation")
					a(data-target="#less_beaten", aria-controls="less_beaten", role="tab", data-toggle="tab", ng-click="getLessBeaten()") Menos Vencidos
			div( class="tab-content")
				div(role="tabpanel", class="tab-pane active" ,id="top_scorers")
					table.table-condensed.table-hover(class="table table-responsive table-striped")
						tr
							th Nombre y Apellido
							th Goles
						tr(ng-repeat="player in tournament_stats.participators_stats.top_scorers")
							td
								a(href="/players/{{player.key}}")  {{player.player.name}} {{player.player.last_name}}
							td
								span {{player.value}}
				div(role="tabpanel", class="tab-pane" ,id="less_beaten")
					table.table-condensed.table-hover(class="table table-responsive table-striped")
						tr
							th Equipo
							th Goles en contra
						tr(ng-repeat="team in tournament_stats.less_beaten")
							td
								a(href="/teams/{{team._id}}")  {{team.name}}
							td
								span {{team.other_goals}}
				div(role="tabpanel", class="tab-pane active" ,id="top_scorers")
		div(ng-controller="SidebarAdvertisingsController", id="sidebar_advertisings")
			include partials/advertisings/sidebar.jade
	div(class="col-md-7")
		div(ng-view)
	

	include partials/loading.jade

	//Javascript
	script(src='/js/jquery.min.js')
	script(src='/bower_components/angular/angular.js')
	script(src='/bower_components/angular-route/angular-route.js')
	script(src='/bower_components/angular-sanitize/angular-sanitize.js')
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='/bower_components/html2canvas/build/html2canvas.min.js')
	script(src='/js/datepicker.js')
	script(src='/js/angulike.js')
	script(src='/js/app.js')
	script(src='/js/services.js')
	script(src='/js/controllers.js')
	script(src='/js/filters.js')
	script(src='/js/ellipsis.js')
	script(src='/js/editor.js')
	script(src='/js/index.js')
	script(src="/bower_components/cropit/dist/jquery.cropit.min.js")
	script(src='/js/lib/jspdf/jspdf.js')
	script(src='/js/lib/jspdf/standard_font_metrics.js')
	script(src='/js/lib/jspdf/table.js')
	script(src='/js/lib/jspdf/split_text_to_size.js')
	script(src='/js/underscore.js')
	

	//Css
	link(rel='stylesheet', href='/bower_components/html5-boilerplate/css/normalize.css')
	link(rel='stylesheet', href='/bower_components/html5-boilerplate/css/main.css')
	link(rel='stylesheet', href='/bower_components/angular-native-picker/build/themes/default.css')
	link(rel='stylesheet', href='/bower_components/angular-native-picker/build/themes/default.date.css')
	link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/css/editor.css')
	link(rel='stylesheet', href='/css/app.css')
	link(rel='stylesheet', href='/css/datepicker.css')
