extends layout

block body
  div
    h2 My Blog
    ul
      li
        a(href='/') Inicio
      li
        a(href='/users/add') Nuevo usuario
      li
        a(href='/users') Lista de usuarios
      li
        a(href='/users/5420e1ae2730632e26001b0f') Ver Usuario
      li
        a(href='/leagues') Lista de Ligas
      li
        a(href='/teams') Lista de Equipos
      li
        a(href='/players') Lista de Jugadores
      li
        a(href='/tournaments') Lista de Torneos
      li
        a(href="/zones/544850b62730632c7b002498") One zone

    div(ng-view)

  //Javascript
  script(src='js/jquery.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-ngOrderObjectBy.js')
  script(src='js/preventReload.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  script(src='js/lib/bootstrap/bootstrap.min.js')

  //Css
  link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap/bootstrap-theme.min.css')