doctype
html(ng-app="agolear")
  head
    meta(charset='utf8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Express Seed App
    base(href='/')
    link(rel='stylesheet', href='/css/app.css')
  body(onbeforeunload="reload()",ng-controller="main")
    block body
