if(RolesHelper.admin(user))
	<!-- Single button -->
	div(class="btn-group pull-right")
		button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
			span Acciones 
			span(class="caret")
		ul(class="dropdown-menu admin_menu", role="menu")
			li
				a(data-target="#editTeam",data-toggle="modal") Editar
			li
				a(ng-click="addPlayer()",data-target="#addNewPlayer",data-toggle="modal",) Agregar Jugador
			-model = "team" 
			li(ng-repeat="type in imageTypes.#{model}")
				a(href="/images/add/#{model}/{{team._id}}/{{type}}") Agregar imagen {{type}}