div(class="media")
	a(class="pull-left", href="#")
		span(ng-if="player.logo_image")
			img(ng-src="/photos/team/{{team._id}}/{{team.logo_image.filename}}", width="100px" ,style="width:100px,max-height:100px;")
		span(ng-if="!player.logo_image")
			img(ng-src="/img/logoteam.png", width="100px" ,style="width:100px,max-height:100px;")
	div(class="media-body")
		h4(class="media-heading")
			a(href="/teams/{{team._id}}") {{team.name}}

div(class="col-md-6 pull-left")
	ul
		li(ng-repeat="player in team.players")
			div(class="media")
				a(class="pull-left", href="#")
					span(ng-if="player.cara_image")
						img(ng-src="/photos/player/{{player._id}}/{{player.cara_image.filename}}", style="max-width:50px;max-height:90px")
					span(ng-if="!player.cara_image")
						img(ng-src="/img/caricatura.jpg" , style="max-width:50px;max-height:90px")
				div(class="media-body")
					h4(class="media-heading")
						a(href="/players/{{player._id}}")  {{player.name}} {{player.last_name}}
					if(RolesHelper.admin(user))
						a(href="/players/edit/{{player._id}}")  Editar
