h3 Equipo
div(ng-show="team")
	include partial_view
	a(class="btn btn-primary", role="button", href="/teams/{{team._id}}") Ver
	div(ng-if="suspensions.length > 0", ng-model="suspensions")
		div(ng-repeat="suspension in suspensions")
			include ../suspensions/partial_view.jade
	div(ng-if="last_played_matches.length > 0", ng-model="last_played_matches")
		div(ng-repeat="match in last_played_matches")
			include ../matches/partial_view.jade
	if(RolesHelper.admin(user))
		div(class="admin_section")
			h3 Agregar imagen
			-model = "team"
			a(ng-repeat="type in imageTypes.#{model}", href="/images/add/#{model}/{{team._id}}/{{type}}") {{type}} 