h3 Lista de Turnos
table.table.table-condensed.table-hover(class="")
	tr(ng-repeat="turn in turns") 
		td
			include partial_view
			a(class="btn btn-primary", role="button", href="editTurn()") Editar