h3 Lista de Turnos
table(class="table table-responsive table-striped")
	tr
		th Cancha
		th Horario
		th Dia
		th
	tr(ng-repeat="turn in turns | orderBy:['field.name', '-day','hour', 'minute']") 
			include partial_view