table(class="table table-responsive table-striped")
	tr(ng-repeat="turn in turns | orderBy:['-day','hour', 'minute']") 
		td {{turn.hour}} : {{turn.minute}}
		td {{days[turn.day]}}
		td
			a {{turn.field.name}}