<!-- Single button -->
div(class="btn-group pull-right")
	button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
		span Acciones 
		span(class="caret")
	ul(class="dropdown-menu admin_menu", role="menu")
		li
			a(href='/players/{{player._id}}/edit') Editar
		-model = "player" 
		li(ng-repeat="type in imageTypes.#{model}")
			a(href="/images/add/#{model}/{{player._id}}/{{type}}") Agregar imagen {{type}}