include admin_menu
h3 Jugador
div(ng-show="player")
	include partial_view
	a(class="btn btn-primary", role="button", href="/players/{{player._id}}") Ver
div(class="row")
	div(ng-repeat="image in player.images", class="col-xs-6 col-md-3")
		a(href="#", class="thumbnail")
			img(ng-src="/photos/player/{{player._id}}/{{image.filename}}" alt="{{image.filename}}")
		if(RolesHelper.admin(user))
			a(ng-click="removeImage(image._id)")
				button(type="button" class="btn btn-danger") Borrar
