extends ../layout

block content
	h3 Editar País
	br
	form(method='post', id="country_edit", action='/countries/edit').form-horizontal
		input(name='country_id', type='hidden', value='#{country._id}')
		.form-group
			label.col-md-1.control-label Nombre:
			.col-md-6
				input(name='country[name]', type='text', value='#{country.name}').form-control.input-sm
		.form-group
			.col-sm-offset-1.col-sm-8
				button(type='submit').btn.btn-default Guardar

	br
	br
	h3 Estados / Provincias
	.glyphicon.glyphicon-plus
	a(href="#", data-toggle="modal", data-target="#CreateState")   Cargar Estado / Provincia	
	br
	br
	.col-md-6
		table.table.table-condensed.table-hover
			tbody.table-striped
				-each state in states
					tr
						td.col-md-6 #{state.name}
						td.col-md-2
							.glyphicon.glyphicon-pencil
							a(href="/states/edit/#{state._id}")  Editar
						td
							.glyphicon.glyphicon-remove.text-danger
							a(href="#").text-danger  Eliminar
	include ../states/create
