// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.span6
		h3 Newsletter
		table.table
			tr
				td Creada
				td #{newsletter.created}
			tr
				td Franquicia
				td #{newsletter.franchise.name}
			tr
				td Ofertas incluidas
				td
					-each deal in newsletter.deals
						a(href="/deals/#{deal._id}") #{deal.title}
						br