.well.pull-right.col-md-3
	.pull-left
		p Precio Original
		p(style='font-size: 21px; text-decoration: line-through;') $ #{deal.price}
	.pull-right
		p Descuento
		p(style='font-size: 21px; font-weight:bold;') #{deal.discount} %
	.clear
		h3.price $ #{deal.special_price}