<!-- Single button -->
div(class="btn-group pull-right")
	button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
		span Acciones 
		span(class="caret")
	ul(class="dropdown-menu admin_menu", role="menu")
		li
			a(ng-click="update()") Guardar
		li
			a(href='/matches/{{match._id}}/edit') Editar
		li
			a(href='/chronicles/add?match={{match._id}}') Agregar Crónica
		li
			a(href='/matches/updateTurn/{{match._id}}') Cambiar horario
		li
			a(href='/matches/{{match._id}}/postponeMatch') Postergar
		-model = "match" 
		li(ng-repeat="type in imageTypes.#{model}")
			a(href="/images/add/#{model}/{{match._id}}/{{type}}") Agregar imagen {{type}}