div(class="local col-md-6")
	div(class="col-md-4")
		a(href="#", class="thumbnail")
			img(ng-if="!isUndefinedOrNull(match.local_team.logo_image)", ng-src="/photos/team/{{match.local_team._id}}/{{match.local_team.logo_image.filename}}", width="100px" ,style="width:100px,max-height:100px;")
			img(ng-if="isUndefinedOrNull(match.local_team.logo_image)", ng-src="/img/logoteam.png", width="100px" ,style="width:100px,max-height:100px;")
	div(class="col-md-8")
		p {{match.local_team.name}}
		span {{match.local_goals.length}}
div(class="visitor col-md-6")
	div(class="col-md-8")
		p {{match.visitor_team.name}}
		span {{match.visitor_goals.length}}
	div(class="col-md-4")
		a(href="#", class="thumbnail")
			img(ng-if="!isUndefinedOrNull(match.visitor_team.logo_image)", ng-src="/photos/team/{{match.visitor_team._id}}/{{match.visitor_team.logo_image.filename}}", width="100px" ,style="width:100px,max-height:100px;")
			img(ng-if="isUndefinedOrNull(match.visitor_team.logo_image)", ng-src="/img/logoteam.png", width="100px" ,style="width:100px,max-height:100px;")