//Incindent and Goals container

div(class="result col-md-12")
	include partial_view.jade
h2 Goles e Incidentes
div(class="incidents col-md-12")
	div(class="local col-md-6")
		ul
			-var role = "local"
			li(ng-repeat="goal in match.local_goals")
				span Gol: {{goal.player.name}} {{goal.player.last_name}}
			if(RolesHelper.admin(user))
				li
					include ../goals/form.jade
			li(ng-repeat="incident in match.local_incidents")
				span {{incident.incident_type}}: {{incident.player.name}} {{incident.player.last_name}}
			if(RolesHelper.admin(user))
				li
					include ../incidents/form.jade
			li(ng-repeat="suspension in match.local_suspensions")
				span {{suspension.incident_type}}: {{suspension.player.name}} {{suspension.player.last_name}}
			if(RolesHelper.admin(user))
				li
					include ../suspensions/form.jade
	div(class="visitor col-md-6")
		ul
			-var role = "visitor"
			li(ng-repeat="goal in match.visitor_goals")
				span Gol:  {{goal.player.name}} {{goal.player.last_name}}
			if(RolesHelper.admin(user))
				li
					include ../goals/form.jade
			li(ng-repeat="incident in match.visitor_incidents")
				span {{incident.incident_type}}: {{incident.player.name}} {{incident.player.last_name}}
			if(RolesHelper.admin(user))
				li
					include ../incidents/form.jade
			li(ng-repeat="suspension in match.visitor_suspensions")
				span Suspensión: {{suspension.player.name}} {{suspension.player.last_name}} {{suspension.number_of_matches}}
			if(RolesHelper.admin(user))
				li
					include ../suspensions/form.jade
h2 Horario y Cancha
div(class="time")
	span {{match.turn[0].field.name}}
	span {{match.turn[0].hour}}
	span {{match.turn[0].minute}}
h2 Jugadores
div(class="players")
	div(class="local col-md-6")
		ul
			li(ng-repeat="player in match.local_players")
				span {{player.name}} {{player.last_name}}
	div(class="visitor col-md-6")
		ul
			li(ng-repeat="player in match.visitor_players")
				span {{player.name}} {{player.last_name}}
