<!-- Single button -->
div(class="btn-group pull-right")
	button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
		span Acciones 
		span(class="caret")
	ul(class="dropdown-menu admin_menu", role="menu")
		li
			a(href='/zones/{{zone._id}}/add_participation') Agregar Participante
		li
			a(href='/zones/{{zone._id}}/create_fixture') Crear Fixture
		li
			a(href='/zones/{{zone._id}}/participations/replace') Reemplazar equipo
		li
			a(href='/chronicles?zone={{zone._id}}') Crónicas