if(RolesHelper.admin(user))
	<!-- Single button -->
	div(class="btn-group pull-right")
		button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
			span Acciones 
			span(class="caret")
		ul(class="dropdown-menu admin_menu", role="menu")
			li
				a(href='/chronicles?zone={{zone._id}}') Crónicas
			li(ng-if="zone.matchdays.length == 0")
				a(ng-click="generateFixture(zone)") Crear Fixture
			li()
				a(href='/zones/{{zone.tournament}}/classified') Ver clasificados
			li(ng-if="zone.participations.length == 0")
				a(href='/tournaments/{{tournament._id}}/teams') Seleccionar equipos
			li(ng-if="!zone.closed")
				a(ng-click="setZoneAsClosed()") Finalizar zona