include admin_menu.jade
ul(class="nav nav-tabs")
	li(role="presentation", class="active")
		a(data-target="#table", aria-controls="table", role="tab", data-toggle="tab") Tabla
	li(role="presentation")
		a(data-target="#matchdays", aria-controls="matchdays", role="tab", data-toggle="tab") Fechas
	li(role="participations")
		a(data-target="#participations", aria-controls="participations", role="tab", data-toggle="tab") Participantes
div(class="tab-content")
	div(role="tabpanel", class="tab-pane active" ,id="table")
		div(ng-if="zone.zone_type !== 'Playoff'")
			table.table.table-condensed.table-hover(class="table table-responsive table-striped")
				tr
					th Pos
					th Equipo
					th PJ
					th G
					th E
					th P
					td GF
					td GC
					td DG
					td Puntos
				tr(ng-repeat="participator in zone.participations | orderBy:['-points','-own_goals', 'other_goals', 'own_goals-other_goals' ,'-won']")
					td {{$index + 1}}
					td 
						a(href="/teams/{{participator.team}}") {{participator.team_name}}
					td {{participator.won+participator.lost+participator.tied}}
					td {{participator.won}}
					td {{participator.tied}}
					td {{participator.lost}}
					td {{participator.own_goals}}
					td {{participator.other_goals}}
					td {{participator.own_goals-participator.other_goals}}
					td {{participator.points}}
	div(role="tabpanel", class="tab-pane" ,id="matchdays")
		div(ng-if="zone.zone_type !== 'Playoff'")
			h4 Avance
			table.table.table-condensed.table-hover
				tr
					th Estado
					th Fecha de disputa
					th Ver partidos
					if(RolesHelper.admin(user))
						th
						th
				tr(ng-repeat="matchday in zone.matchdays | orderBy:['number']") 
					td
						div(ng-if="matchday.played")
							span(class="label label-success") Jugada
						div(ng-if="!matchday.played")
							span(class="label label-info") No jugada aún
					td {{ matchday.dispute_day | date:'yyyy-MM-dd' }}
						if(RolesHelper.admin(user))
							button(ng-if="!matchday.closed", ng-click="selectMatchday(matchday._id)",data-toggle="modal",data-target="#submitMatchdayDisputeDay") Cambiar
					td
						a(ng-click="openMatchday(matchday)",data-toggle="modal",data-target="#openMatchday") Ver Partidos
					if(RolesHelper.admin(user))
						td
							a(href="/matchday/edit/{{matchday._id}}") Editar
						td
							a(ng-click="loadMatchesToRenderList(matchday)") Generar Panillas
		div(ng-if="zone.zone_type === 'Playoff'")
			h4 Avance
			table.table.table-condensed.table-hover
				tr
					th Estado
					th Etapa
					th Fecha de disputa
					th Ver partidos
					th
				tr(ng-repeat="matchday in zone.matchdays | orderBy:['number']") 
					td
						div(ng-if="matchday.closed")
							span(class="label label-success") Jugada
						div(ng-if="!matchday.closed")
							span(class="label label-info") No jugada aún
					td {{matchday.matchday_name}}
					td {{ matchday.dispute_day | date:'yyyy-MM-dd' }}
						if(RolesHelper.admin(user))
							button(ng-if="!matchday.closed", ng-click="selectMatchday(matchday._id)",data-toggle="modal",data-target="#submitMatchdayDisputeDay") Cambiar
					td {{matchday.matchday_number}}
					td
						a(ng-click="openMatchday(matchday)",data-toggle="modal",data-target="#openMatchday") Ver Partidos
					td
						if(RolesHelper.admin(user))
							a(href="/matchday/edit/{{matchday._id}}") Editar
		include ../matchdays/dispute_day
	div(role="tabpanel", class="tab-pane" ,id="participations")
		include ../participations/index.jade
include ../socials/shareBar.jade
div(class="modal", tabindex="-1", role="dialog", id="openMatchday", aria-hidden="true" )
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button", class="close", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true")&times;
				h4(class="modal-title", id="myModalLabel") Fecha
			div(class="modal-body")
				include ../matches/list.jade