.col-md-9
	h3 Lista de Ligas
	br
	.col-md-8
		table.table.table-condensed.table-hover
			tr(ng-repeat="league in leagues") 
				td
					p {{league.name}} 
					p {{league.slogan}}
					a(class="btn btn-primary", role="button", href="/leagues/{{league._id}}") Ver
