include admin_menu
h3
	a(href="/leagues/edit/{{league._id}}") {{league.name}}
p Slogan:
p {{league.slogan}} 
p E-mail:
p {{league.email}} 
p Introducción:
p(ng-bind-html="league.league_introduction")
p Descripción:
p(ng-bind-html="league.league_description")