div(class="thumbnail")
	img(ng-src="/photos/chronicle/{{chronicle._id}}/{{chronicle.preview_image.filename}}" alt="{{chronicle.title}}")
	div(class="caption")
		h3
			a( href="/chronicles/{{chronicle._id}}") {{chronicle.title}}
		p(ng-bind-html="chronicle.trusted_summary")