h1 {{chronicle.title}}
div(class="summary", ng-bind-html="content_summary")
div(class="content", ng-bind-html="content_chronicle") 

div(class="row")
	div(ng-repeat="image in chronicle.images", class="col-xs-6 col-md-3")
		a(href="#", class="thumbnail")
			img(ng-src="/photos/chronicle/{{chronicle._id}}/{{image.filename}}" alt="{{image.filename}}")
