h1 {{chronicle.title}}
div(class="summary", ng-bind-html="content_summary")
div(class="content", ng-bind-html="content_chronicle") 

div(class="row")
	div(class="col-xs-6 col-md-3")
		a(ng-repeat="image in chronicle.images" , href="#", class="thumbnail")
			img(ng-src="/photos/chronicle/{{chronicle._id}}/{{image.filename}}" alt="...")
if(RolesHelper.admin(user))
	div(class="admin_section")
		h3 Agregar imagen
		-model = "chronicle"
		a(ng-repeat="type in imageTypes.#{model}", href="/images/add/#{model}/{{chronicle._id}}/{{type}}") Nueva imagen 
