table.table.table-condensed
	tr 
		td.col-md-2
			label Nombre:
		td  {{user.name}}  {{user.lname}}
	tr
		td.col-md-2
			label Email:
		td  {{user.email}}
	tr 
		td.col-md-2
			label Usuario:
		td  {{user.username}}