button(type="button", class="btn btn-primary btn-xs", data-toggle="modal",data-target="#headingSuspension#{role}") Nueva Suspension
div(class="modal fade", tabindex="-1", role="dialog", id="headingSuspension#{role}", aria-hidden="true" )
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button", class="close", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true")&times;
				h4(class="modal-title", id="myModalLabel") Nueva Suspensión
			div(class="modal-body")
				form(name="addSuspension", ng-submit="submitSuspension(addSuspension, '#{role}')")
					.form-group
						label(for="player") Jugador
						select(ng-model='suspension.player', name='player', id="player").form-control.input-sm
							option(value="", selected="selected") Ninguno
							-if(role === "local")
								option(ng-repeat="player in match.local_players" value="{{player._id}}") {{player.name}} {{player.last_name}}
							-else
								option(ng-repeat="player in match.visitor_players" value="{{player._id}}") {{player.name}} {{player.last_name}}
					.form-group
						label(for="number_of_matches") Cantidad de partidos
						input(ng-model='suspension.number_of_matches', name='number_of_matches', id="number_of_matches", type='text').form-control.input-sm
					.form-group
						label(for="reason") Razón
						textarea(ng-model='suspension.reason', name='reason', id="reason", type='text').form-control.input-sm
					.form-group
						input(type="submit", value="Guardar").btn.btn-primary.btn-xs
						button(type="button", class="btn btn-default btn-xs", data-dismiss="modal") Close
			div(class="modal-footer")