div(class="cropper-container")
	script(src="js/cropper.js")
	div(id="image-cropper")
		div(class="cropit-image-preview-container")
			div(class="cropit-image-preview {{image.type}}")
		input(type="range", class="cropit-image-zoom-input")
		input(type="file", class="cropit-image-input")
	div(class="cropit-result")
		button(id="cropResult") Previsualizar
		img(id="cropResultImg",src="")
