link(href="css/main.css", rel="stylesheet", type="text/css")
script(src="js/script.js")
div(class="container")
    div(class="contr")
        button(onclick="getResults()")Crop
    canvas(id="panel", width="779", height="519")
    div(id="results")
        img(id="crop_result")

