div(class="imageCropper")
	include crop.jade
	form( name="addImage", ng-submit="submit('#{model}', addImage)")
		.form-group.col-md-6
			imput(type="hidden", ng-model="image.type", value="{{image.type}}")
		.form-group.pull-right
			input(type="submit", value="Guardar").btn.btn-primary
			button(type="button", class="btn btn-default", data-dismiss="modal") Close



