div(class="imageCropper")
	include crop.jade
	form( name="addImage", ng-submit="submit('#{model}', addImage)")
		.form-group
			imput(type="hidden", ng-model="image.type", value="{{image.type}}")
		.form-group
			input(type="submit", value="Guardar").btn.btn-primary


