<!-- Single button -->
div(class="btn-group pull-right")
	button(type="button", class="btn  btn-primary dropdown-toggle", data-toggle="dropdown", aria-expanded="false")
		span Acciones 
		span(class="caret")
	ul(class="dropdown-menu admin_menu", role="menu")
		li
			a(href="/images/add/advertising/{{advertising._id}}/{{advertising.type}}") Agregar imagen {{advertising.type}}