h1 
	a(href="/advertisings/{{advertising._id}}") {{advertising.title}}
div(class="description") {{advertising.description}}
div(class="type") {{advertising.type}}
div(class="expiration") {{advertising.expiration}}
div(class="link") {{advertising.link}}