div(id="sidebarAdvertisings", class="carousel slide", data-ride="carousel", style="width:50%;height:150px;")
	ol(class="carousel-indicators")
		li(ng-repeat="advert in advertisings", data-target="#sidebarAdvertisings", data-slide-to="#{i}", class="active")
	.carousel-inner
		.item.active
			img(ng-repeat="advert in advertisings", ng-src="/photos/advertising/{{advert._id}}/{{advert.preview_image.filename}}" , alt="{{advert.title}}", style="width:100%;max-height:450px;")
			.carousel-caption
				p {{advert.title}}
				p {{advert.description}}					
	a(class="left carousel-control", href="#sidebarAdvertisings", data-slide="prev")
		span(class="glyphicon glyphicon-chevron-left")
	a(class="right carousel-control", href="#sidebarAdvertisings", data-slide="next")
		span(class="glyphicon glyphicon-chevron-right")
		
