div(id="sidebarAdvertisings", class="carousel slide", data-ride="carousel", style="height:150px;")
	.carousel-inner( style="height:150px;")
		.item(ng-repeat="advert in advertisings", ng-class="{'active': $index == 0}")
			a(href="{{advert.link}}", target="_blank", title="{{advert.title}}")
				img( ng-src="/photos/advertising/{{advert._id}}/{{advert.preview_image.filename}}" , alt="{{advert.title}}", style="width:100%;max-height:450px;")
